@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700;800&family=Work+Sans:wght@400;500&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

:root{
    --heading: rgb(0 10 45);
    --para: #777;
    --para-tint:#e4e4e4;
    --white: #fff;
    --helper:#8490ff;
    --helper-tint: #f3f4ff;
    --bg: rgb(249 249 255);
    --gradient: linear-gradient(0deg, rgb(132 144 255) 0%, #62bdfc 100%);
    --gradientSupport: -webkit-linear-gradient(
        0deg,
        rgb(132 144 255) 0%,
        rgb(98 189 252) 100%
    );
    --shadow: 0px 0px 20px 0px rgb(132 144 255 / 20%);
}

html{
    font-size: 62.5%;
    /* 1rem = 10px */
}

h1,h2,h3,h4{
    font-family: "popins", sans-sarif;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
}

h1{
    color: var(--heading);
    font-size: 6rem;
    font-weight: 600;
}

h3{
    font-size: 1.8rem;
    font-weight: 400;
}

p{
    color: var(--para);
    line-height: 1.6;
    font-size: 1.7rem;
}

